<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/bootstrap.min.css">
    <script src="../public/bootstrap.min.js"></script>
    <title>Staff Detail</title>
</head>
<body>
<h2>Detail Staff</h2>
<hr>
<b>Name</b>: <%=staff.name%>
<br>
<b>Code</b>: <%=staff.code%>
<br>
<b>Age</b>: <%=staff.age%>
<br>
<b>Branch</b>: <%=staff.branch%>
<br>
<hr>
<a href="/"><button class="btn-secondary">Back to Home</button></a>
</body>
</html>